# Cleaning & preparation of the ON Colleges Enrolment by Credentials worksheet

In [23]:
# open the excel file on 22-23 Stats sheet as a pandas dataframe
# imports

import openpyxl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# load and read the Credentials sheet from the workbook
creds_df = pd.read_excel('/Users/thomasdoherty/Desktop/canadian-psi-project/psi_data/cleaning_copy_excel/on_college_2012-/2012-2022 college_enrolment_headcount.xlsx', sheet_name='Credentials')

In [11]:
creds_df

,College Name,Fiscal Year,Credential Type Description,Headcount Full-Time Fall
0,Algonquin College,2012-2013,Certificate,2577
1,Algonquin College,2012-2013,Degree (includes applied degree),381
2,Algonquin College,2012-2013,Diploma,13110
3,Algonquin College,2012-2013,General Equivalency Diploma / High School Diploma,0
4,Algonquin College,2012-2013,Not Available or Not Applicable,0
...,...,...,...,...
1159,St. Lawrence College,2022-2023,Certificate,2262
1160,St. Lawrence College,2022-2023,Degree (includes applied degree),755
1161,St. Lawrence College,2022-2023,Diploma,8227
1162,St. Lawrence College,2022-2023,Not Applicable,0
1163,St. Lawrence College,2022-2023,Other type of credential associated with a pro...,0

In [12]:
creds_df.shape

(1164, 4)

In [13]:
# unique entries for Credential Type Description
creds_df['Credential Type Description'].value_counts()

Credential Type Description
Certificate                                             264
Diploma                                                 264
Degree (includes applied degree)                        210
Not Applicable                                          163
Not Available or Not Applicable                         132
Other type of credential associated with a program       79
General Equivalency Diploma / High School Diploma        27
Attestation and other credentials for short programs     25
Name: count, dtype: int64

I need to explore carefully - the above numbers just tell me how many times this field was recorded, nothing about headcount on those programs.

I also want to note whether these institutions **offer** certain qualifications like degrees, as well as the change in enrolment to these programs.
Structure the call step by step:

In [14]:
# sum of the number of students in each credential type
creds_df[creds_df['Credential Type Description'] == 'Certificate']

,College Name,Fiscal Year,Credential Type Description,Headcount Full-Time Fall
0,Algonquin College,2012-2013,Certificate,2577
5,Algonquin College,2013-2014,Certificate,2856
10,Algonquin College,2014-2015,Certificate,2937
15,Algonquin College,2015-2016,Certificate,3094
20,Algonquin College,2016-2017,Certificate,3075
...,...,...,...,...
1135,St. Lawrence College,2018-2019,Certificate,1067
1141,St. Lawrence College,2019-2020,Certificate,1150
1147,St. Lawrence College,2020-2021,Certificate,1022
1153,St. Lawrence College,2021-2022,Certificate,1431
1159,St. Lawrence College,2022-2023,Certificate,2262

Above: That is every school in every fiscal year that has a record of a certificate credential and the headcount.

Below: Same with Degrees, Diplomas, Not Applicable & Other

In [15]:
certificates = creds_df[creds_df['Credential Type Description'] == 'Certificate']

In [16]:
diplomas = creds_df[creds_df['Credential Type Description'] == 'Diploma']

In [17]:
degrees = creds_df[creds_df['Credential Type Description'] == 'Degree (includes applied degree)']

In [18]:
cred_na = creds_df[(creds_df['Credential Type Description'] == 'Not Applicable') | (creds_df['Credential Type Description'] == 'Not Available or Not Applicable')]

Above: Some of the records are 'Not Applicable', some are 'Not Available or Not Applicable' so I will combine the records to state Not Applicable below

In [19]:
creds_df.loc[
    (creds_df['Credential Type Description'] == 'Not Applicable') | 
    (creds_df['Credential Type Description'] == 'Not Available or Not Applicable'), 
    'Credential Type Description'] = 'Not Applicable'

In [20]:
cred_na = creds_df[(creds_df['Credential Type Description'] == 'Not Applicable') | (creds_df['Credential Type Description'] == 'Not Available or Not Applicable')]

In [21]:
# check
creds_df['Credential Type Description'].value_counts()

Credential Type Description
Not Applicable                                          295
Certificate                                             264
Diploma                                                 264
Degree (includes applied degree)                        210
Other type of credential associated with a program       79
General Equivalency Diploma / High School Diploma        27
Attestation and other credentials for short programs     25
Name: count, dtype: int64

In [22]:
cred_other = creds_df[creds_df['Credential Type Description'] == 'Other type of credential associated with a program']