In [1]:
# open the excel file on 22-23 Stats sheet as a pandas dataframe
# read the data from the sheet

import openpyxl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# open the excel file
wb = openpyxl.load_workbook('/Users/thomasdoherty/Desktop/canadian-psi-project/psi_data/cleaning_copy_excel/on_college_2012-/2012-2022 college_enrolment_headcount.xlsx')

In [32]:
gender_sheet = wb['Gender']

gender_data = gender_sheet.values

# convert to dataframe, first row is a header as it's column names
cols = next(gender_data)
gender_df = pd.DataFrame(gender_data, columns=cols)

In [33]:
# replace instances of * in Headcount with 0
gender_df['Headcount Full-Time Fall'] = gender_df['Headcount Full-Time Fall'].replace('*', 5)

/var/folders/jj/bww8jnqd2lg73nm4k1z5kbmc0000gn/T/ipykernel_77687/3018326197.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gender_df['Headcount Full-Time Fall'] = gender_df['Headcount Full-Time Fall'].replace('*', 5)

In [34]:
gender_df

,College Name,Fiscal Year,Gender Description,Headcount Full-Time Fall,Total FT Enrolment 22-23,% Female 22-23
0,Algonquin College,2012-2013,Female,7537,NaN,NaN
1,Algonquin College,2012-2013,Male,8492,NaN,NaN
2,Algonquin College,2012-2013,Undisclosed,39,NaN,NaN
3,Algonquin College,2013-2014,Female,8036,NaN,NaN
4,Algonquin College,2013-2014,Male,8756,NaN,NaN
...,...,...,...,...,...,...
790,St. Lawrence College,2021-2022,Undisclosed,33,NaN,NaN
791,St. Lawrence College,2022-2023,Female,5668,NaN,NaN
792,St. Lawrence College,2022-2023,Identify in another way,46,NaN,NaN
793,St. Lawrence College,2022-2023,Male,5475,NaN,NaN
794,St. Lawrence College,2022-2023,Undisclosed,55,11244.0,0.504091

In [35]:
# drop the columns that were added in Excel as we can add them more comprehensively in the notebook
# drop total FT Enrolment 22-23
gender_df.drop(['Total FT Enrolment 22-23', '% Female 22-23'], axis=1, inplace=True)

In [36]:
gender_df

,College Name,Fiscal Year,Gender Description,Headcount Full-Time Fall
0,Algonquin College,2012-2013,Female,7537
1,Algonquin College,2012-2013,Male,8492
2,Algonquin College,2012-2013,Undisclosed,39
3,Algonquin College,2013-2014,Female,8036
4,Algonquin College,2013-2014,Male,8756
...,...,...,...,...
790,St. Lawrence College,2021-2022,Undisclosed,33
791,St. Lawrence College,2022-2023,Female,5668
792,St. Lawrence College,2022-2023,Identify in another way,46
793,St. Lawrence College,2022-2023,Male,5475
794,St. Lawrence College,2022-2023,Undisclosed,55

In [37]:
# add a column that displays the total headcount in that year for each college
gender_df["School's Total Headcount This Year"] = gender_df.groupby(['College Name', 'Fiscal Year'])['Headcount Full-Time Fall'].transform('sum')

In [38]:
gender_df

,College Name,Fiscal Year,Gender Description,Headcount Full-Time Fall,School's Total Headcount This Year
0,Algonquin College,2012-2013,Female,7537,16068
1,Algonquin College,2012-2013,Male,8492,16068
2,Algonquin College,2012-2013,Undisclosed,39,16068
3,Algonquin College,2013-2014,Female,8036,16844
4,Algonquin College,2013-2014,Male,8756,16844
...,...,...,...,...,...
790,St. Lawrence College,2021-2022,Undisclosed,33,9037
791,St. Lawrence College,2022-2023,Female,5668,11244
792,St. Lawrence College,2022-2023,Identify in another way,46,11244
793,St. Lawrence College,2022-2023,Male,5475,11244
794,St. Lawrence College,2022-2023,Undisclosed,55,11244

Now I have the school's total headcount for each year, I will calculate a share of the student headcount that each school has

In [39]:
# New column which divides Headcount Full-Time Fall by School's Total Headcount This Year
gender_df['Gender Share of Headcount'] = round((gender_df['Headcount Full-Time Fall'] / gender_df["School's Total Headcount This Year"]) * 100, 2)

In [40]:
gender_df

,College Name,Fiscal Year,Gender Description,Headcount Full-Time Fall,School's Total Headcount This Year,Gender Share of Headcount
0,Algonquin College,2012-2013,Female,7537,16068,46.91
1,Algonquin College,2012-2013,Male,8492,16068,52.85
2,Algonquin College,2012-2013,Undisclosed,39,16068,0.24
3,Algonquin College,2013-2014,Female,8036,16844,47.71
4,Algonquin College,2013-2014,Male,8756,16844,51.98
...,...,...,...,...,...,...
790,St. Lawrence College,2021-2022,Undisclosed,33,9037,0.37
791,St. Lawrence College,2022-2023,Female,5668,11244,50.41
792,St. Lawrence College,2022-2023,Identify in another way,46,11244,0.41
793,St. Lawrence College,2022-2023,Male,5475,11244,48.69
794,St. Lawrence College,2022-2023,Undisclosed,55,11244,0.49

## Pivoting the Dataframe

I'd like each record to be one PSI in one Fiscal Year, with the genders as columns and their share of the student headcount.
This will be useful in more easily tracking changes over time to the college's student headcount composition in the gender realm and programs, credentials etc etc...

In [41]:
# pivot the table to get each gender's headcount share as columns

gender_df_pivot = gender_df.pivot_table(
    index=['College Name', 'Fiscal Year', "School's Total Headcount This Year"], # setting the index specifies which columns to keep as is
    columns = 'Gender Description', # this is the record dataa we will transform into column data
    values = 'Gender Share of Headcount' # this is the data we will use to fill the new columns of Gender Description, once we've renamed to Share of the Headcount
).reset_index()

In [43]:
gender_df_pivot.columns

Index(['College Name', 'Fiscal Year', 'School's Total Headcount This Year',
       'Female', 'Identify in another way', 'Male',
       'Not Available or Not Applicable', 'Undisclosed'],
      dtype='object', name='Gender Description')

In [44]:
# Rename the columns
gender_df_pivot.rename(columns={
    'Female': 'Female % of Headcount',
    'Identify in another way': 'Other Gender % of Headcount',
    'Male': 'Male % of Headcount',
    'Not Available or Not Applicable': 'Not Applicable % of Headcount',
    'Undisclosed': 'Undisclosed % of Headcount',
}, inplace=True)

In [46]:
# remove the column name Gender Description
gender_df_pivot.columns.name = None

In [47]:
gender_df_pivot

,College Name,Fiscal Year,School's Total Headcount This Year,Female % of Headcount,Other Gender % of Headcount,Male % of Headcount,Not Applicable % of Headcount,Undisclosed % of Headcount
0,Algonquin College,2012-2013,16068,46.91,NaN,52.85,NaN,0.24
1,Algonquin College,2013-2014,16844,47.71,NaN,51.98,NaN,0.31
2,Algonquin College,2014-2015,17025,47.92,NaN,51.78,NaN,0.31
3,Algonquin College,2015-2016,17435,48.74,NaN,51.26,NaN,0.00
4,Algonquin College,2016-2017,17389,48.35,NaN,51.62,NaN,0.03
...,...,...,...,...,...,...,...,...
259,St. Lawrence College,2018-2019,8795,52.22,0.19,47.58,NaN,0.00
260,St. Lawrence College,2019-2020,9014,52.41,0.21,47.38,NaN,NaN
261,St. Lawrence College,2020-2021,9225,52.48,0.25,47.22,NaN,0.05
262,St. Lawrence College,2021-2022,9037,53.30,0.34,45.99,NaN,0.37
263,St. Lawrence College,2022-2023,11244,50.41,0.41,48.69,NaN,0.49

I'll now overwrite the gender_df with the pivoted version

In [48]:
gender_df = gender_df_pivot

In [49]:
gender_df

,College Name,Fiscal Year,School's Total Headcount This Year,Female % of Headcount,Other Gender % of Headcount,Male % of Headcount,Not Applicable % of Headcount,Undisclosed % of Headcount
0,Algonquin College,2012-2013,16068,46.91,NaN,52.85,NaN,0.24
1,Algonquin College,2013-2014,16844,47.71,NaN,51.98,NaN,0.31
2,Algonquin College,2014-2015,17025,47.92,NaN,51.78,NaN,0.31
3,Algonquin College,2015-2016,17435,48.74,NaN,51.26,NaN,0.00
4,Algonquin College,2016-2017,17389,48.35,NaN,51.62,NaN,0.03
...,...,...,...,...,...,...,...,...
259,St. Lawrence College,2018-2019,8795,52.22,0.19,47.58,NaN,0.00
260,St. Lawrence College,2019-2020,9014,52.41,0.21,47.38,NaN,NaN
261,St. Lawrence College,2020-2021,9225,52.48,0.25,47.22,NaN,0.05
262,St. Lawrence College,2021-2022,9037,53.30,0.34,45.99,NaN,0.37
263,St. Lawrence College,2022-2023,11244,50.41,0.41,48.69,NaN,0.49

I would like to not carry too many columns into the final dataframe from this column, so I will check out the numbers on Not Applicable and Undisclosed and potentially drop them to leave only Male Female and Other as share of headcount.