## Importing the Excel spreadsheets (start with ON Colleges)

Some of this has been done for ON 2022-23 in Excel as I knew how to clean in that

The excel workbooks for have multiple sheets arranged by student age, gender, status in Canada etc...I will import individual sheets and add columns of interest to one unified df with all the information of interest.

In [33]:
# open the excel file on 22-23 Stats sheet as a pandas dataframe
# read the data from the sheet

import openpyxl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# open the excel file
wb = openpyxl.load_workbook('psi_data/cleaning_copy_excel/on_college_2012-/2012-2022 college_enrolment_headcount.xlsx')

In [34]:
wb.sheetnames

['Campus',
 'Tongue',
 'CIP',
 'Credentials',
 'Age',
 'Gender',
 'Study Level',
 'Program',
 'Status',
 'Country',
 'Combined Statistics']

In [35]:
sheet = wb['Combined Statistics']

combined_data = sheet.values

# convert to dataframe, first row is a header as it's column names
cols = next(combined_data)
df = pd.DataFrame(combined_data, columns=cols)

In [36]:
df

,College Name,Fiscal Year,Status In Canada,Headcount Full-Time Fall 22-23,Total Full-Time Headcount Fall 22-23,% International 22-23,% PR 22-23,% Canadian 22-23,% Aboriginal 22-23,% Unknown 22-23,% Other 22-23,Total % Status - Audit check,None
0,Algonquin College,2022-2023,Aboriginal ancestry (where self-identified),60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,Algonquin College,2022-2023,Attending an off-shore school,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,Algonquin College,2022-2023,Canadian citizen,12319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,Algonquin College,2022-2023,Convention refugee (protected person),139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,Algonquin College,2022-2023,In Canada on authority of another visa (includ...,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,St. Lawrence College,2022-2023,In Canada on authority of another visa (includ...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
182,St. Lawrence College,2022-2023,Other,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
183,St. Lawrence College,2022-2023,"Permanent resident, formerly called landed imm...",165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
184,St. Lawrence College,2022-2023,Student permit/ Student visa: a permit obtaine...,6939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
185,St. Lawrence College,2022-2023,Unknown,35,11243.0,0.617184,0.014676,0.339856,0.024282,0.003113,0.000445,0.999555,None

### Formatting issues, Pandas is reading in >1 million rows from Excel and the literal formulas, not the values. Now solved in the excel files, section can be ignored

Will clean this first, confirming below that there are 186 rows of data as there are in Excel

In [10]:
# how many rows in the datafram are completely empty?
empty_rows = df.isnull().all(axis=1).sum()
print(f"Number of totally empty rows is: {empty_rows}")
print(f"Number of rows in the dataframe is: {df.shape[0]}")
# the difference between the two is the number of rows that are not empty
print(f"Number of rows that are not empty is: {df.shape[0] - empty_rows}")

Number of totally empty rows is: 1047674
Number of rows in the dataframe is: 1047860
Number of rows that are not empty is: 186

In [11]:
# delete rows that are entirely empty
df = df.dropna(how='all')

In [13]:
df.shape

(186, 13)

In [14]:
df.head(20)

,College Name,Fiscal Year,Status In Canada,Headcount Full-Time Fall 22-23,Total Full-Time Headcount Fall 22-23,% International 22-23,% PR 22-23,% Canadian 22-23,% Aboriginal 22-23,% Unknown 22-23,% Other 22-23,Total % Status - Audit check,None
0,Algonquin College,2022-2023,Aboriginal ancestry (where self-identified),60.0,None,None,None,None,None,None,None,None,None
1,Algonquin College,2022-2023,Attending an off-shore school,0.0,None,None,None,None,None,None,None,None,None
2,Algonquin College,2022-2023,Canadian citizen,12319.0,None,None,None,None,None,None,None,None,None
3,Algonquin College,2022-2023,Convention refugee (protected person),139.0,None,None,None,None,None,None,None,None,None
4,Algonquin College,2022-2023,In Canada on authority of another visa (includ...,45.0,None,None,None,None,None,None,None,None,None
5,Algonquin College,2022-2023,Other,23.0,None,None,None,None,None,None,None,None,None
6,Algonquin College,2022-2023,"Permanent resident, formerly called landed imm...",1538.0,None,None,None,None,None,None,None,None,None
7,Algonquin College,2022-2023,Refugee status,16.0,None,None,None,None,None,None,None,None,None
8,Algonquin College,2022-2023,Student permit/ Student visa: a permit obtaine...,3738.0,None,None,None,None,None,None,None,None,None
9,Algonquin College,2022-2023,Unknown,0.0,=SUM(D2:D11),=SUM(D10/E11),=SUM(D8/E11),=SUM(D4/E11),=SUM(D2/E11),=D11/E11,=D7/E11,=SUM(F11:K11),None
10,Cambrian College,2022-2023,Aboriginal ancestry (where self-identified),5.0,None,None,None,None,None,None,None,None,None
11,Cambrian College,2022-2023,Canadian citizen,2747.0,None,None,None,None,None,None,None,None,None
12,Cambrian College,2022-2023,Convention refugee (protected person),5.0,None,None,None,None,None,None,None,None,None
13,Cambrian College,2022-2023,Other,0.0,None,None,None,None,None,None,None,None,None
14,Cambrian College,2022-2023,"Permanent resident, formerly called landed imm...",93.0,None,None,None,None,None,None,None,None,None
15,Cambrian College,2022-2023,Refugee status,5.0,None,None,None,None,None,None,None,None,None
16,Cambrian College,2022-2023,Student permit/ Student visa: a permit obtaine...,4900.0,None,None,None,None,None,None,None,None,None
17,Cambrian College,2022-2023,Unknown,0.0,=SUM(D12:D19),=D18/E19,=D16/E19,=SUM(D13/E19),=SUM(D12/E19),=D19/E19,=D15/E19,=SUM(F19:K19),None
18,Canadore College,2022-2023,Aboriginal ancestry (where self-identified),21.0,None,None,None,None,None,None,None,None,None
19,Canadore College,2022-2023,Canadian citizen,1765.0,None,None,None,None,None,None,None,None,None

Pandas has imported the functions where I calculated the percentage of students, I will go back and copy just the values from Excel

### Open the Credentials, Gender and Program Excel Sheets, ensure formatting is OK

In [37]:
creds_sheet = wb['Credentials']

creds_data = creds_sheet.values

# convert to dataframe, first row is a header as it's column names
cols = next(creds_data)
creds_df = pd.DataFrame(creds_data, columns=cols)

In [38]:
creds_df

,College Name,Fiscal Year,Credential Type Description,Headcount Full-Time Fall
0,Algonquin College,2012-2013,Certificate,2577
1,Algonquin College,2012-2013,Degree (includes applied degree),381
2,Algonquin College,2012-2013,Diploma,13110
3,Algonquin College,2012-2013,General Equivalency Diploma / High School Diploma,0
4,Algonquin College,2012-2013,Not Available or Not Applicable,0
...,...,...,...,...
1159,St. Lawrence College,2022-2023,Certificate,2262
1160,St. Lawrence College,2022-2023,Degree (includes applied degree),755
1161,St. Lawrence College,2022-2023,Diploma,8227
1162,St. Lawrence College,2022-2023,Not Applicable,0
1163,St. Lawrence College,2022-2023,Other type of credential associated with a pro...,0

In [39]:
gender_sheet = wb['Gender']

gender_data = gender_sheet.values

# convert to dataframe, first row is a header as it's column names
cols = next(gender_data)
gender_df = pd.DataFrame(gender_data, columns=cols)

In [40]:
gender_df

,College Name,Fiscal Year,Gender Description,Headcount Full-Time Fall,Total FT Enrolment 22-23,% Female 22-23
0,Algonquin College,2012-2013,Female,7537,NaN,NaN
1,Algonquin College,2012-2013,Male,8492,NaN,NaN
2,Algonquin College,2012-2013,Undisclosed,39,NaN,NaN
3,Algonquin College,2013-2014,Female,8036,NaN,NaN
4,Algonquin College,2013-2014,Male,8756,NaN,NaN
...,...,...,...,...,...,...
790,St. Lawrence College,2021-2022,Undisclosed,33,NaN,NaN
791,St. Lawrence College,2022-2023,Female,5668,NaN,NaN
792,St. Lawrence College,2022-2023,Identify in another way,46,NaN,NaN
793,St. Lawrence College,2022-2023,Male,5475,NaN,NaN
794,St. Lawrence College,2022-2023,Undisclosed,55,11244.0,0.504091

## Cleaning & Feature Engineering of College Gender, Credentials, Program and Status sheets

The goal is to have each record/row in the dataframe be either:
- one PSI or;
- one PSI per academic year

### Start with Credentials sheet

In [57]:
creds_df.head(10)

,College Name,Fiscal Year,Credential Type Description,Headcount Full-Time Fall
0,Algonquin College,2012-2013,Certificate,2577
1,Algonquin College,2012-2013,Degree (includes applied degree),381
2,Algonquin College,2012-2013,Diploma,13110
3,Algonquin College,2012-2013,General Equivalency Diploma / High School Diploma,0
4,Algonquin College,2012-2013,Not Available or Not Applicable,0
5,Algonquin College,2013-2014,Certificate,2856
6,Algonquin College,2013-2014,Degree (includes applied degree),437
7,Algonquin College,2013-2014,Diploma,13551
8,Algonquin College,2013-2014,General Equivalency Diploma / High School Diploma,0
9,Algonquin College,2013-2014,Not Available or Not Applicable,0

In [44]:
creds_df.shape

(1164, 4)

Are there any credential types that are almost negligible and can be ignored?

In [43]:
# unique entries for Credential Type Description
creds_df['Credential Type Description'].value_counts()

Credential Type Description
Certificate                                             264
Diploma                                                 264
Degree (includes applied degree)                        210
Not Applicable                                          163
Not Available or Not Applicable                         132
Other type of credential associated with a program       79
General Equivalency Diploma / High School Diploma        27
Attestation and other credentials for short programs     25
Name: count, dtype: int64

I need to explore carefully - the above numbers just tell me how many times this field was recorded, nothing about headcount on those programs.

I also want to note whether these institutions **offer** certain qualifications like degrees, as well as the change in enrolment to these programs.
Structure the call step by step:

In [47]:
# sum of the number of students in each credential type
creds_df[creds_df['Credential Type Description'] == 'Certificate']

,College Name,Fiscal Year,Credential Type Description,Headcount Full-Time Fall
0,Algonquin College,2012-2013,Certificate,2577
5,Algonquin College,2013-2014,Certificate,2856
10,Algonquin College,2014-2015,Certificate,2937
15,Algonquin College,2015-2016,Certificate,3094
20,Algonquin College,2016-2017,Certificate,3075
...,...,...,...,...
1135,St. Lawrence College,2018-2019,Certificate,1067
1141,St. Lawrence College,2019-2020,Certificate,1150
1147,St. Lawrence College,2020-2021,Certificate,1022
1153,St. Lawrence College,2021-2022,Certificate,1431
1159,St. Lawrence College,2022-2023,Certificate,2262

In [48]:
certificates = creds_df[creds_df['Credential Type Description'] == 'Certificate']

Above: That is every school in every fiscal year that has a record of a certificate credential and the headcount.

Below: Same with Degrees, Diplomas, Not Applicable & Other

In [54]:
diplomas = creds_df[creds_df['Credential Type Description'] == 'Diploma']

In [55]:
degrees = creds_df[creds_df['Credential Type Description'] == 'Degree (includes applied degree)']

In [59]:
cred_na = creds_df[(creds_df['Credential Type Description'] == 'Not Applicable') | (creds_df['Credential Type Description'] == 'Not Available or Not Applicable')]

Above: Some of the records are 'Not Applicable', some are 'Not Available or Not Applicable' so I will combine the records to state Not Applicable below

In [76]:
creds_df.loc[
    (creds_df['Credential Type Description'] == 'Not Applicable') | 
    (creds_df['Credential Type Description'] == 'Not Available or Not Applicable'), 
    'Credential Type Description'] = 'Not Applicable'

In [78]:
cred_na = creds_df[(creds_df['Credential Type Description'] == 'Not Applicable') | (creds_df['Credential Type Description'] == 'Not Available or Not Applicable')]

In [79]:
cred_na

,College Name,Fiscal Year,Credential Type Description,Headcount Full-Time Fall
4,Algonquin College,2012-2013,Not Applicable,0
9,Algonquin College,2013-2014,Not Applicable,0
14,Algonquin College,2014-2015,Not Applicable,0
19,Algonquin College,2015-2016,Not Applicable,0
24,Algonquin College,2016-2017,Not Applicable,0
...,...,...,...,...
1138,St. Lawrence College,2018-2019,Not Applicable,0
1144,St. Lawrence College,2019-2020,Not Applicable,0
1150,St. Lawrence College,2020-2021,Not Applicable,0
1156,St. Lawrence College,2021-2022,Not Applicable,0
1162,St. Lawrence College,2022-2023,Not Applicable,0

In [80]:
# check
creds_df['Credential Type Description'].value_counts()

Credential Type Description
Not Applicable                                          295
Certificate                                             264
Diploma                                                 264
Degree (includes applied degree)                        210
Other type of credential associated with a program       79
General Equivalency Diploma / High School Diploma        27
Attestation and other credentials for short programs     25
Name: count, dtype: int64

In [86]:
cred_other = creds_df[creds_df['Credential Type Description'] == 'Other type of credential associated with a program']

In [87]:
cred_other

,College Name,Fiscal Year,Credential Type Description,Headcount Full-Time Fall
104,Canadore College,2012-2013,Other type of credential associated with a pro...,0
107,Canadore College,2013-2014,Other type of credential associated with a pro...,0
110,Canadore College,2014-2015,Other type of credential associated with a pro...,0
113,Canadore College,2015-2016,Other type of credential associated with a pro...,0
116,Canadore College,2016-2017,Other type of credential associated with a pro...,0
...,...,...,...,...
1139,St. Lawrence College,2018-2019,Other type of credential associated with a pro...,0
1145,St. Lawrence College,2019-2020,Other type of credential associated with a pro...,0
1151,St. Lawrence College,2020-2021,Other type of credential associated with a pro...,368
1157,St. Lawrence College,2021-2022,Other type of credential associated with a pro...,175
1163,St. Lawrence College,2022-2023,Other type of credential associated with a pro...,0